data
models
*.pyc
*.pth
*.log
*.png
*.pdf
.idea
.ipynb_checkpoints

experiments/real_vs_real/jobs_eval_8class_real_vs_real
experiments/real_vs_real/logs_eval_8class_real_vs_real

experiments/models_6class_joint/jobs_eval_6class-together_real_vs_real
experiments/models_6class_joint/logs_eval_6class-together_real_vs_real
experiments/models_6class_joint/jobs_eval_6class_fake_vs_real
experiments/models_6class_joint/logs_eval_6class_fake_vs_real

experiments/models_6class_conditional/jobs_eval_6class_conditional_fake_vs_real
experiments/models_6class_conditional/logs_eval_6class_conditional_fake_vs_real
experiments/models_6class_conditional/reconstruction
experiments/models_6class_conditional/reconstruction-separable
